* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Helvetica Neue LT Std 65 Medium';
    src: url('C:\\Users\\vlads\\OneDrive\\Desktop\\Универ\\3-й курс, 2 семестр\\Організація баз даних\\Курсова\\hotelRoomReservation\\fonts\\Helvetica Neue LT Std 65 Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Miracle Regular';
    src: url('C:\\Users\\vlads\\OneDrive\\Desktop\\Универ\\3-й курс, 2 семестр\\Організація баз даних\\Курсова\\hotelRoomReservation\\fonts\\Miracle Regular.ttf') format('opentype');
}

body {
    height: 5000px;
}

#top-part {
    width: 100%;
    height: 2000px;
    background: #313f38;
}

#header {
    position: sticky;
    top: 0;
    width: 1840px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    background: transparent;
    backdrop-filter: blur(10px);
}

.logo {
    width: 180px;
    height: 50px;
    border-radius: 5px;
    background: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease-in;
}

.light::before {
    content: "";
    position: absolute;
    background-image: conic-gradient(
      rgb(75, 110, 91) 20deg,
      transparent 150deg
    );
    width: 400%;
    height: 400%;
    border-radius: 5px;
    animation: rotate 3s linear infinite;
}
  
.light::after {
    content: "StaySwift";
    position: absolute;
    width: 170px;
    height: 40px;
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica Neue LT Std 65 Medium', sans-serif;
    font-size: 1.5em;
    border-radius: 5px;
}
  
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}

#phone {
    font-family: 'Helvetica Neue LT Std 65 Medium', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    margin-right: 20px;
}

#nav {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-btn {
    text-decoration: none;
    font-family: 'Helvetica Neue LT Std 65 Medium', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    transition: .2s;
    position: relative;
}

.nav-btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav-btn:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.nav-btn:hover {
    font-size: 1.5em;
}

#big-logo {
    font-family: 'Miracle Regular', sans-serif;
    font-size: 220px;
    position: absolute;
    top: 150px;
    left: 50px;
}

#big-logo .stay {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#big-logo .swift {
    color: #fcd043;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#down-logo {
    font-family: 'Helvetica Neue LT Std 65 Medium', sans-serif;
    font-size: 26px;
    color: #fcd043;
    position: absolute;
    top: 450px;
    left: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#history {
    position: absolute;
    top: 240px;
    left: 1250px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1.5px gray solid;
    border-radius: 100px;
    padding: 10px 30px 10px 20px;
}

#history span {
    font-family: 'Helvetica Neue LT Std 65 Medium', sans-serif;
    font-size: 1.2em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#history-text {
    width: 350px;
    height: 84px;
    font-family: 'Helvetica Neue LT Std 65 Medium', sans-serif;
    font-size: 18px;
    color: gray;
    position: absolute;
    top: 390px;
    left: 1250px;
}

#btn-down {
    position: absolute;
    top: 235px;
    left: 1750px;
    text-decoration: none;
}

#arrow {
    position: absolute;
    top: 33px;
    left: 26px;
}

#btn-down:hover #border {
    fill: #fcd043;
    transition: fill 0.3s ease;
}

#btn-down #border {
    fill: transparent;
    transition: fill 0.3s ease;
}

#main_room {
    position: absolute;
    top: 580px;
    left: 20px;
}

#buttons_main_room {
    position: absolute;
    top: 580px;
    left: 775px;
    width: 1105px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_main_room {
    width: 368.33px;
    height: 150px;
    background-color: rgba(49, 63, 56, 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
}

.btn_main_room2 {
    width: 368.33px;
    height: 150px;
    background-color: rgb(255, 203, 31);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_main_room2 span {
    font-family: 'Helvetica Neue LT Std 65 Medium', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

#palka_for_btn {
    width: 2px;
    height: 75px;
    background-color: gray;
    position: absolute;
    top: 620px;
    left: 1143px;
}

.text_btn_main {
    font-family: 'Helvetica Neue LT Std 65 Medium', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: bold;
}